@font-face {
  font-family: "Circular";
  font-weight: 400;
  font-style: normal;
  src:url("circular/circular-book.woff") format("woff"),
    url("circular/circular-book.ttf") format("truetype");
}
@font-face {
  font-family: "Circular";
  font-weight: 400;
  font-style: italic;
  src:url("circular/circular-bookitalic.woff") format("woff"),
    url("circular/circular-bookitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Circular";
  font-weight: 500;
  font-style: normal;
  src:url("circular/circular-medium.woff") format("woff"),
    url("circular/circular-medium.ttf") format("truetype");
}
@font-face {
  font-family: "Circular";
  font-weight: 500;
  font-style: italic;
  src:url("circular/circular-mediumitalic.woff") format("woff"),
    url("circular/circular-mediumitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Circular";
  font-weight: 700;
  font-style: normal;
  src:url("circular/circular-bold.woff") format("woff"),
    url("circular/circular-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Circular";
  font-weight: 700;
  font-style: italic;
  src:url("circular/circular-bolditalic.woff") format("woff"),
    url("circular/circular-bolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "Circular";
  font-weight: 800;
  font-style: normal;
  src:url("circular/circular-black.woff") format("woff"),
    url("circular/circular-black.ttf") format("truetype");
}
@font-face {
  font-family: "Circular";
  font-weight: 800;
  font-style: italic;
  src:url("circular/circular-blackitalic.woff") format("woff"),
    url("circular/circular-blackitalic.ttf") format("truetype");
}
@font-face {
  font-family: "DIN";
  font-weight: bold;
  font-style: normal;
  src:url("din/din_next_medium.woff") format("woff"),
    url("din/din_next_medium.woff2") format("woff2"),
    url("din/din_next_medium.svg") format("svg"),
    url("din/din_next_medium.eot") format("eot"),
    url("din/din_next_medium.ttf") format("truetype");
}